<p>notifitostr works!</p>
<h2>Alternate  Toastr ::</h2>
<div class="text-center row "> 
  <div class="col-2"></div>
    <input type="button" value=" Success Message" class="col-1 ml-5 pt-2 " (click)="successmsg()"> 

    <input type="button" value=" Error Message" class="col-1 ml-5 pt-2" (click)="errorsmsg()">    
    <input type="button" value=" Success Message" class="col-1 ml-5 pt-2" (click)="infotoastr()">    
    <input type="button" value=" Info Message" class="col-1 ml-5 pt-2" (click)="toastrwaring()">    
  </div> 

  <p>rout1 works!</p>

  <ul class="navigate_before">
      <li><a class="bg-dark ri-home-8-line">Home</a></li>
      <li><a class="ri-article-line">News</a></li>
      <li><a   class="ri-contacts-book-2-line">Contact</a></li>
      <li><a  class="ri-article-line">About</a></li>
    </ul>
    