<p>s-ng-for works!</p>
<div   *ngFor="let data of h2tag">
    <h2>{{data.name}}</h2>
    <h2>{{data.address}}</h2>
    <h2></h2>
    <h2></h2>
  </div>



  <table class="table table-bordered container bg-warning">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Age</th>
            <th>Education</th>
                </tr>
    </thead>
<tbody>
    <tr *ngFor="let stud of userdata">
        <td>{{stud.Name}}</td>
        <td>{{stud.Address}}</td>
        <td>{{stud.Age}}</td>
        <td>{{stud.Education}}</td>
      </tr>
</tbody>

   
  </table>