<div class="container-fluid " *ngIf="showbg">

<nav class="navbar navbar-expand-lg navbar-light bg-light img text container-fluid">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="">
    <img src="../assets/Angular-16.png" alt="" height="90px">
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav mr-auto  text">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <h3> <b>Forms</b>
          </h3>
        </a>
        <div class="dropdown-menu ">
          <a class="dropdown-item" routerLink="form/reactifrom">Reactive Form</a>
          <a class="dropdown-item" routerLink="form/templefrom" href="#">Template Driven Form </a>
          <div class="dropdown-divider"></div>
        </div>
      </li>

      

      <!-- Directives -->

      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"
          (click)="showSeo()">
          <h3> Directives</h3>
        </a>
        <div class="dropdown-menu">

          <!-- Attributal -->
          <!-- <div class="dropdown-divider"></div>

          <a class="dropdown-item dropdown-toggle" href="#" id="subDropdown"><h3>Attributal</h3></a>
          <div class="nav-item dropdown" aria-labelledby="subDropdown">
            <a class="dropdown-item" routerLink="ngClas">ngClass</a>
            <a class="dropdown-item" href="#" routerLink="ngStyle">ngStyle</a>
            <a class="dropdown-item" href="#" routerLink="ngModel">ngModel</a>
          </div> -->

          <!-- Structural -->
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item dropdown-toggle" href="#" id="subDropdown">
            <h3>Structural
            </h3>
          </a>
          <div class="nav-item dropdown" aria-labelledby="subDropdown">
            <a class="dropdown-item" routerLink="directives/structural/s-ngif">ngIf</a>
            <a class="dropdown-item" href="#" routerLink="directives/structural/s-ng-for">ngFor</a>
            <a class="dropdown-item" href="#" routerLink="directives/structural/s-ng-switch">ngSwitch</a>
          </div>
        </div>
      </li> --> 

      
      <!-- Services -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <h3>Binding's</h3>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" href="#" routerLink="data-binding/interpolation">One-Way- Data- Binding</a>
          <div class="dropdown-divider"></div>

          <a class="dropdown-item" href="#" routerLink="data-binding/two-way-binding">Two-Way-Data-Binding</a>
          <div class="dropdown-divider"></div>
        
            <a class="dropdown-item" href="#" routerLink="data-binding/property-binding">Property-Binding</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="#" routerLink="data-binding/event-binding" >Event-Binding</a>

          </div>
      </li>

      <div class="nav-item dropdown">
        <div class="nav-link dropdown-toggle" (click)="Show()"><h3>Directives</h3> </div>
      </div>


      <li *ngIf="isShow" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <h5>Attributal
          </h5>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="directives/attributal/ng-class">ngClass</a>
          <a class="dropdown-item" href="#" routerLink="directives/attributal/ng-style">ngStyle</a>
          <a class="dropdown-item" href="#" routerLink="directives/attributal/ng-model">ngModel</a>
        </div>
      </li>


      <li *ngIf="isShow" class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
           <h5>Structural</h5>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="directives/structural/s-ngif">ngIf</a>
          <a class="dropdown-item" href="#" routerLink="directives/structural/s-ng-for">ngFor</a>
          <a class="dropdown-item" href="#" routerLink="directives/structural/s-ng-switch">ngSwitch</a>
        </div>
      </li>

      <li *ngIf="isShow" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <h5>Componant</h5>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <li><a class="dropdown-item" href="#" routerLink="directives/componant/dropdown">Dropdown</a>
         </li> 
         <a class="dropdown-item" href="#" routerLink="directives/componant/highlight">Hightlight</a>
        </div>
      </li>


      <div class="nav-link dropdown-toggle" routerLink="all"><h4><b>All</b></h4></div>
      <div class="">
        <div class="nav-link dropdown-toggle" routerLink="pipes">
          <h4> <b>Pipes</b>
          </h4>
        </div>
      </div>

      <div class="">
        <div class="nav-link dropdown-toggle" routerLink="ngselectdrop"><h4><b>Ng-Select</b></h4> </div>
      </div>


      <div class="">
        <div class="nav-link dropdown-toggle" routerLink="notifitostr"><h4><b>Toaster</b></h4></div>
      </div>

      <!-- this code of @input -->
        <div  class="nav-link dropdown-toggle" routerLink="inputt"><h4><b>@input</b></h4></div>
         <!-- [name]="currentName" [obj]="obj" -->

        <!-- <app-inputt [name]="currentName"(dataEvent)="addUser($event)"></app-inputt>  -->


        <div class="">
          <div class="nav-link dropdown-toggle" routerLink="ngcommands"><h4><b>Commands</b></h4></div>
        </div>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>


<router-outlet></router-outlet>
<div class="img" *ngIf="!showbg">
  <button  (click)="Showbg()" class="btn btn-primary click"><h2>click me and go to on Header Navbar</h2></button>

  <img src="../../../assets/Angular-16.png" width="100%" alt="">
</div>